@(message: String)

@main("Welcome to Play") {
  <!DOCTYPE html>

    <h1>Stock Market</h1>
    <div id="result"></div>
    <canvas id="dataChart" width="400" height="400"></canvas>


    <script>
      var data = {
        labels: [
          "2015-11-07T16:48:27.719-05:00",
          "2015-11-07T16:48:30.719-05:00",
          "2015-11-07T16:48:33.719-05:00",
          "2015-11-07T16:48:36.719-05:00",
          "2015-11-07T16:48:39.719-05:00",
          "2015-11-07T16:48:42.719-05:00",
        ],
        datasets: [
          {
            label: "Stock Price",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: [30, 26, 28, 19, 16, 20]
          }
        ]
      };
      // Get the context of the canvas element we want to select
      var ctx = document.getElementById("dataChart").getContext("2d");
      var stockChart = new Chart(ctx).Line(data);
    
      if(typeof(EventSource) !== "undefined") {
        var source = new EventSource("@routes.Application.events()");
        source.onmessage = function(event) {
          var stockData = JSON.parse(event.data);
          stockChart.addData([stockData.price], stockData.time);
          stockChart.removeData();
        };
      } else {
        document.getElementById("result").innerHTML = "Sorry, your browser does not support server-sent events...";
      }
    </script>
}
